<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <a href="#">Home Page</a>
        <a href="#">About Us</a>
        <a href="#">Contact us</a>
        <a class ="nav-link" href="/upload">upload</a>
    </nav>

</body>

</html>